<div class="parent flex justify-center items-center min-h-screen">

    <div class="container relative flex justify-center items-center ">
        <div class="login-box absolute">
            <h2 class="text-2xl text-center text-cyan-400">Login</h2>
            @if (errorMessage){
            <div class="text-red-400 text-center font-bold mt-2">{{errorMessage}}</div>
            }
            <form action="#" class="w-full">
                <div class="input-box relative">
                    <input class="w-full text-white h-12 outline-none text-base" type="email"
                        [(ngModel)]="loginObj.email" name="EmailId" required>
                    <label class="absolute text-white text-base top-2/4 left-5">Email</label>
                </div>
                <div class="input-box relative">
                    <input class="w-full text-white h-12 outline-none text-base" type="password"
                        [(ngModel)]="loginObj.password" name="Password" required>
                    <label class="absolute text-white text-base top-2/4 left-5">Password</label>
                </div>

                <button type="button"
                    class="btn cursor-pointer text-slate-900 font-semibold w-full outline-none text-base border none h-11 bg-cyan-400"
                    (click)="onLogin()">Login</button>

            </form>
        </div>
    </div>
</div>